{erl_opts, [{parse_transform, lager_transform}]}.

{deps, [
    {lager, "2.0.*", {git, "git@github.com:basho/lager.git"}},
    {supervisor2, ".*", {git, "git@github.com:odo/supervisor2.git"}},
    {eredis, ".*", {git, "git@github.com:wooga/eredis.git"}},
    {kafka, ".*", {git, "git@github.com:wooga/kafka-erlang.git"}},
    {etest, ".*", {git, "git://github.com/wooga/etest.git"}},
    {jiffy, ".*", {git, "git@github.com:davisp/jiffy.git"}},
    {erlconf, ".*", {git, "git@github.com:wooga/erlconf.git"}}
]}.
