[
    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
            {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
    ]}]},

    {reconnaissance, [
        {port, 9541},
        {callback_module, krepl_reconnaissance}
    ]},

    {krepl, [
        {periodic_period, undefined},
        {initial_offset_source, target},
        {topics, [
         {"ahi",  {}},
         {"bi",   {}},
         {"bim",  {}},
         {"bri",  {}},
         {"chi",  {}},
         {"dd",   {}},
         {"dda",  {}},
         {"ddaa", {}},
         {"ddm",  {}},
         {"dmi",  {}},
         {"g8",   {}},
         {"g9",   {}},
         {"g9i",  {}},
         {"gx",   {}},
         {"ml",   {}},
         {"mops", {}},
         {"mw",   {}},
         {"mwm",  {}},
         {"pl",   {}},
         {"pla",  {}},
         {"pla2", {}},
         {"plaa", {}},
         {"plak", {}},
         {"pli",  {}},
         {"plik", {}},
         {"prot", {}},
         {"pvi",  {}},
         {"sli",  {}},
         {"test", {}},
         {"wbi",  {}}
        ]}
    ]}
].
