[
    {krepl, [
        {redis_host, "test-kafka-one.local"},
        {redis_port, 6379},

        {handler_name, "hetzner2_internal"},
        {source_host, "test-kafka-two.local"},
        {source_port, 9092},
        {target_host, "test-kafka-two.local"},
        {target_port, 9092},
        {topics, [
            {"ahi_in", "ahi_merged"}, {"bi_in", "bi_merged"}, {"bim_in", "bim_merged"}, {"bri_in", "bri_merged"}, {"chi_in", "chi_merged"}, {"dd_in", "dd_merged"}, {"dda_in", "dda_merged"}, {"ddaa_in", "ddaa_merged"}, {"ddm_in", "ddm_merged"}, {"dmi_in", "dmi_merged"}, {"g8_in", "g8_merged"}, {"g9_in", "g9_merged"}, {"g9i_in", "g9i_merged"}, {"gx_in", "gx_merged"}, {"ml_in", "ml_merged"}, {"mops_in", "mops_merged"}, {"mw_in", "mw_merged"}, {"mwm_in", "mwm_merged"}, {"pl_in", "pl_merged"}, {"pla_in", "pla_merged"}, {"pla2_in", "pla2_merged"}, {"plaa_in", "plaa_merged"}, {"plak_in", "plak_merged"}, {"pli_in", "pli_merged"}, {"plik_in", "plik_merged"}, {"prot_in", "prot_merged"}, {"pvi_in", "pvi_merged"}, {"sli_in", "sli_merged"}, {"test_in", "test_merged"}, {"wbi_in", "wbi_merged"},
            {"ahi_rep", "ahi_merged"}, {"bi_rep", "bi_merged"}, {"bim_rep", "bim_merged"}, {"bri_rep", "bri_merged"}, {"chi_rep", "chi_merged"}, {"dd_rep", "dd_merged"}, {"dda_rep", "dda_merged"}, {"ddaa_rep", "ddaa_merged"}, {"ddm_rep", "ddm_merged"}, {"dmi_rep", "dmi_merged"}, {"g8_rep", "g8_merged"}, {"g9_rep", "g9_merged"}, {"g9i_rep", "g9i_merged"}, {"gx_rep", "gx_merged"}, {"ml_rep", "ml_merged"}, {"mops_rep", "mops_merged"}, {"mw_rep", "mw_merged"}, {"mwm_rep", "mwm_merged"}, {"pl_rep", "pl_merged"}, {"pla_rep", "pla_merged"}, {"pla2_rep", "pla2_merged"}, {"plaa_rep", "plaa_merged"}, {"plak_rep", "plak_merged"}, {"pli_rep", "pli_merged"}, {"plik_rep", "plik_merged"}, {"prot_rep", "prot_merged"}, {"pvi_rep", "pvi_merged"}, {"sli_rep", "sli_merged"}, {"test_rep", "test_merged"}, {"wbi_rep", "wbi_merged"}
        ]}
    ]}
].



