[
    {krepl, [
        {redis_host, "test-kafka-one.local"},
        {redis_port, 6379},

        {handler_name, "hetzner2_to_hetzner1"},
        {source_host, "test-kafka-two.local"},
        {source_port, 9092},
        {target_host, "test-kafka-one.local"},
        {target_port, 9092},
        {topics, [
            {"ahi_in", "ahi_rep"}, {"bi_in", "bi_rep"}, {"bim_in", "bim_rep"}, {"bri_in", "bri_rep"}, {"chi_in", "chi_rep"}, {"dd_in", "dd_rep"}, {"dda_in", "dda_rep"}, {"ddaa_in", "ddaa_rep"}, {"ddm_in", "ddm_rep"}, {"dmi_in", "dmi_rep"}, {"g8_in", "g8_rep"}, {"g9_in", "g9_rep"}, {"g9i_in", "g9i_rep"}, {"gx_in", "gx_rep"}, {"ml_in", "ml_rep"}, {"mops_in", "mops_rep"}, {"mw_in", "mw_rep"}, {"mwm_in", "mwm_rep"}, {"pl_in", "pl_rep"}, {"pla_in", "pla_rep"}, {"pla2_in", "pla2_rep"}, {"plaa_in", "plaa_rep"}, {"plak_in", "plak_rep"}, {"pli_in", "pli_rep"}, {"plik_in", "plik_rep"}, {"prot_in", "prot_rep"}, {"pvi_in", "pvi_rep"}, {"sli_in", "sli_rep"}, {"test_in", "test_rep"}, {"wbi_in", "wbi_rep"}
        ]}
    ]}
].

