[
    {krepl, [
        {redis_host, "test-kafka-one.local"},
        {redis_port, 6379},

        {handler_name, "hetzner2_to_hetzner1_overflow"},
        {source_host, "test-kafka-two.local"},
        {source_port, 9092},
        {target_host, "test-kafka-one.local"},
        {target_port, 9092},
        {topics, [
          {"ahi_in", "ahi_in"},
          {"bi_in", "bi_in"},
          {"bim_in", "bim_in"},
          {"bri_in", "bri_in"},
          {"chi_in", "chi_in"},
          {"dd_in", "dd_in"},
          {"dda_in", "dda_in"},
          {"ddaa_in", "ddaa_in"},
          {"ddm_in", "ddm_in"},
          {"dmi_in", "dmi_in"},
          {"g8_in", "g8_in"},
          {"g9_in", "g9_in"},
          {"g9i_in", "g9i_in"},
          {"gx_in", "gx_in"},
          {"ml_in", "ml_in"},
          {"mops_in", "mops_in"},
          {"mw_in", "mw_in"},
          {"mwm_in", "mwm_in"},
          {"pl_in", "pl_in"},
          {"pla_in", "pla_in"},
          {"pla2_in", "pla2_in"},
          {"plaa_in", "plaa_in"},
          {"plak_in", "plak_in"},
          {"pli_in", "pli_in"},
          {"plik_in", "plik_in"},
          {"prot_in", "prot_in"},
          {"pvi_in", "pvi_in"},
          {"sli_in", "sli_in"},
          {"test_in", "test_in"},
          {"wbi_in", "wbi_in"}
        ]}
    ]}
].

