[
    {krepl, [
        {redis_host, "127.0.0.1"},
        {redis_port, 6379},

        {initial_offset_source, source},

        {handler_name, "live_to_test"},
        {source_host, "kafka.sys11"},
        {source_port, 9092},
        {target_host, "test-producer-one.local"},
        {target_port, 8090},
        {topics, [
            {"ahi", "ahi_in"}, {"bi", "bi_in"}, {"bim", "bim_in"}, {"bri", "bri_in"}, {"chi", "chi_in"}, {"dd", "dd_in"}, {"dda", "dda_in"}, {"ddaa", "ddaa_in"}, {"ddm", "ddm_in"}, {"dmi", "dmi_in"}, {"g8", "g8_in"}, {"g9", "g9_in"}, {"g9i", "g9i_in"}, {"gx", "gx_in"}, {"ml", "ml_in"}, {"mops", "mops_in"}, {"mw", "mw_in"}, {"mwm", "mwm_in"}, {"pl", "pl_in"}, {"pla", "pla_in"}, {"pla2", "pla2_in"}, {"plaa", "plaa_in"}, {"plak", "plak_in"}, {"pli", "pli_in"}, {"plik", "plik_in"}, {"prot", "prot_in"}, {"pvi", "pvi_in"}, {"sli", "sli_in"}, {"test", "test_in"}, {"wbi", "wbi_in"}
        ]}
    ]}
].
