[
    {krepl, [
        {redis_host, "redis-primary.acc"},
        {redis_port, 6379},

        {initial_offset_source, source},

        {handler_name, "pimary_to_backup"},
        {source_host, "kafka-primary.acc"},
        {source_port, 9092},
        {target_host, "kafka-backup.acc"},
        {target_port, 9092}
    ]}
].

