[
    {krepl, [
        {redis_host, "test-kafka-one.local"},
        {redis_port, 6379},

        {handler_name, "test_primary_to_test_secondary"},
        {source_host, "test-kafka-one.local"},
        {source_port, 9092},
        {target_host, "test-kafka-two.local"},
        {target_port, 9092}
    ]}
].
